@model CAEZ.Administracion.EN.Cargo


@{
    ViewData["Title"] = "Detalles de la Cargo";
}
<div class="border border-blue-300 rounded-lg p-6">
    <dl class="grid grid-cols-2 gap-4">
        <div class="flex flex-col">
            <dt class="text-sm font-medium text-gray-500">ID:</dt>
            <dd class="text-lg font-bold text-gray-800">@Model.Id</dd>
        </div>
        <div class="flex flex-col">
            <dt class="text-sm font-medium text-gray-500">Nombre:</dt>
            <dd class="text-lg font-bold text-gray-800">@Model.Nombre</dd>
        </div>
    </dl>
</div>

