@model CAEZ.Administracion.EN.Grado


<h5>¿Desea eliminar el grado con ID: @Model.Id y nombre: @Model.Nombre?</h5>
<div class="text-center text-red-500 mb-4">
    <i class="fas fa-exclamation-triangle fa-3x"></i>
</div>
